backports.functools-lru-cache==1.6.1
beautifulsoup4==4.8.1
bs4==0.0.1
certifi==2022.12.7
Click==7.0
enum34==1.1.6
Flask==1.1.1
Flask-API==2.0
google==2.0.2
gunicorn==19.10.0
itsdangerous==1.1.0
Jinja2==2.10.3
joblib==0.14.0
MarkupSafe==1.1.1
numpy==1.16.5
pipenv==2018.11.26
scikit-learn==0.20.4
scipy==1.2.2
soupsieve==1.9.5
typing==3.7.4.1
virtualenv==16.7.8
virtualenv-clone==0.5.3
Werkzeug==0.16.0
whois==0.9.4
